#loading-modal, #error-modal {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#error-modal {
    background-color: rgba(0, 0, 0, 0.8);
}

#loading-modal p, #error-modal p {
    display: table-cell;
    vertical-align: middle;
}

#loading-modal svg {
    width: 50px;
    height: 50px;
    transform-origin: bottom right;
    animation: rotating 1s linear infinite;
    margin-right: 50px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html, body {
    position: relative;
    height: 100%;
    margin: 0;
}

body {
    font-family: sans-serif;
    min-width: 284px;
}

#content {
    height: 100%;
}

#page-container {
    height: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page-container.page2 .page {
    transform: translateX(-100%);
}

#page-container.page3 .page {
    transform: translateX(-200%);
}

#page-container.page4 .page {
    transform: translateX(-300%);
}

#page-container.page5 .page {
    transform: translateX(-400%);
}

#footer {
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 0;
}

#footer-buttons a, .back-button {
    text-decoration: none;
    padding: 5px 10px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: white;
}

.modal-header {
    display: table;
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    text-align: center;
}

.modal-header h2 {
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    margin: 0;
}

.modal-content {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 10%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.modal-footer {
    text-align: center;
    position: absolute;
    height: 10%;
    width: 100%;
    top: 90%;
}

.modal-footer .back-button {
    position: relative;
    top: 15px;
}

.page {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 80%;
    white-space: normal;
    transition: transform 1s ease-in-out;
    cursor: default;
}

.page-header {
    display: table;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    text-align: center;
}

.page-content {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 20%;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-content p {
    margin: 0;
    margin-top: 5px;
}

.page-content select {
    margin: 10px 0;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 250px;
    height: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.select-wrapper {
    position: relative;
    width: 250px;
    margin: auto;
}

.select-arrow {
    position: absolute;
    top: 10px;
    line-height: 18px;
    width: 30px;
    right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid gray;
    border-right: none;
    font-size: 30px;
    padding-top: 15px;
    transform: rotate(180deg);
    pointer-events: none; 
}

.page-header h2 {
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    margin: 0;
    font-size: 20px;
}

#page2 .content-section:nth-child(1),
#page2 .content-section:nth-child(2),
#page4 .content-section:nth-child(1),
#page4 .content-section:nth-child(2){
    position: relative;
    height: 60px;
}

#page2 .content-section:nth-child(3),
#page4 .content-section:nth-child(3){
    padding-bottom: 5px;
}

#page5 .page-content {
    box-sizing: border-box;
}

.content-section {
    padding-top: 5px;
}

.content-section p:first-child{
    margin-top: 0;
}

.below-state {
    font-size: 15px;
}

#map {
    height: 150px;
    max-width: 300px;
    margin: auto;
}

#maplegend {
    margin-top: 15px;
}

#intervention-list {
    margin: 0;
    display: inline-block;
    padding: 10px 5px 10px 25px;
}

.intervention-list-item {
    width: 50%;
    float: left;
    margin: 5px 0px;
    font-size: 12px;
}

.intervention-list-item:nth-child(even){
    float: right;
}

.intervention-list-item span {
    position: relative;
    left: -5px;
}

#intervention-icon {
    width: 66px;
    height: 66px;
    margin: 15px 15px 0px 5px;
}

.mvpiccs-footnote {
    font-size: 12px;
}

#embed-code {
    width: 100%;
    height: 100px;
}

#logo {    
    border-radius: 10px;
    border: 1px solid white;
    height: 45px;
}

.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #404040;
}

#carousel-dots.page1 .dot:nth-child(1),
#carousel-dots.page2 .dot:nth-child(2),
#carousel-dots.page3 .dot:nth-child(3),
#carousel-dots.page4 .dot:nth-child(4),
#carousel-dots.page5 .dot:nth-child(5){
    background-color: silver;
}

.arrow {
    position: absolute;
    top: 40%;
    padding: 10px 15px;
    color: white;
    background: rgba(0, 0, 0, .2);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
    user-select: none;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.percentage {
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
}

.percentage-figure {
    display: block;
    width: 95px;
    height: 43px;
}

.percentage-figure .small-font {
    position: relative;
    bottom: 12px;
}

.dollarsign {
    float: right;
    width: 60px;
    height: 110px;
    margin: 5px;
}

.exclamation {
    width: 40px;
    height: 40px;
    float: left;
}

.sample {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid black;
    vertical-align: middle;
    margin-right: 4px;
}

#implemented-sample {
    background-color: lightblue;
}

#not-implemented-sample {
    background-color: khaki;
}

.center-align {
    text-align: center;
}

.padding {
    padding: 15px;
}

.padding-small {
    padding: 5px;
}

.padding-left {
    padding-left: 15px;
}

.padding-left-right {
    padding-left: 15px;
    padding-right: 15px;
}

.margin-bottom {
    margin-bottom: 5px;
}

.small-icon {
    width: 55px;
    height: 55px;
    vertical-align: top;
    float: left;
    margin-left: 5px;
}

.small-font {
    font-size: small;
}

.small-header-font {
    font-size: 17px;
}

.large-font {
    font-weight: bold;
    font-size: x-large;
}

.x-large-font {
    font-weight: bold;
    font-size: xx-large;
}

.bold-font {
    font-weight: bold;
}

.gray-font {
    color: rgb(100, 100, 100);
}

.gray-font a {
    color: rgb(100, 100, 100);
}

.darkblue-font {
    color: rgb(53, 82, 137);
}

.darkblue {
    color: white;
    background-color: rgb(78, 97, 137);
}

.lightblue {
    background-image: url(../img/background.png);
}

.white {
    background-color: white;
}

.accessible-hide {
    position: fixed;
    top: 10000px;
}

.arrow.accessible-show {
    position: absolute;
    top: 40%;
}

.sprite {
    background-image: url(../img/icons.png);
}

.sprite.small-icon {
    background-size: 1060px 55px;
}

.sprite.injuries {
    background-position-x: 224px;
}

.sprite.deaths {
    background-position-x: 279px;
}

.sprite.dollarsign {
    background-size: 2120px 110px;
    background-position-x: 192px;
}

.sprite.exclamation {
    background-size: 771px 40px;
    background-position-x: 40px;
}

.sprite.percentage-figure {
    background-size: 1900px 75px;
    background-position-x: 295px;
    background-position-y: -20px;
}

.sprite.bicycle-helmet {
    background-position-x: 400px;
}

.sprite.limits-on-diversion {
    background-position-x: 467px;
}
.sprite.saturation-patrols {
    background-position-x: 534px;
}
.sprite.in-person-renewal {
    background-position-x: 601px;
}
.sprite.vehicle-impoundment {
    background-position-x: 668px;
}
.sprite.sobriety-checkpoints {
    background-position-x: 735px;
}
.sprite.seat-belt-enforcement-campaign {
    background-position-x: 802px;
}
.sprite.primary-enforcement-seat-belt-law {
    background-position-x: 869px;
}
.sprite.motorcycle-helmet {
    background-position-x: 936px;
}
.sprite.alcohol-interlocks {
    background-position-x: 1003px;
}
.sprite.license-plate-impound {
    background-position-x: 1070px;
}
.sprite.red-light-camera {
    background-position-x: 1137px;
}
.sprite.speed-camera{
    background-position-x: 1204px;
}