<!doctype html>
<html lang="en">
    <head>
        <title>MV PICCS</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body data-ng-controller="mainCtrl">
        <div id="content" class="darkblue">
            <div id="page-container" class="page{{pageNumber}}" data-ng-mouseout="showArrows = false" data-ng-mouseover="showArrows = true" swipe-page>
                <a data-ng-click="changePage($event)" href="#" class="arrow left-arrow accessible-hide" data-ng-class="{'accessible-show': showArrows && pageNumber > 1}" data-ng-focus="onFocus" tabindex="{{pageNumber > 1 ? 0 : -1}}" control-navigation>&lt;<span class="accessible-hide">Previous Page</span></a>
                <a data-ng-click="changePage($event)" href="#" class="arrow right-arrow accessible-hide" data-ng-class="{'accessible-show': showArrows && pageNumber < 7}" data-ng-focus="onFocus" tabindex="{{pageNumber < 5 ? 0 : -1}}" control-navigation>&gt;<span class="accessible-hide">Next Page</span></a>
                <div id="page1" class="page">
                    <div class="page-header">
                        <h2>Motor Vehicle Prioritizing Interventions and Cost Calculator for States (MVPICCS)</h2>
                    </div>
                    <div class="page-content padding white">
                        <p>MV PICCS is a free interactive calculator that estimates the costs of implementing up to 14 motor vehicle evidence-based strategies, while taking into account a state's specific budget. It also provides state-level estimates of the number of injuries prevented, lives saved, and costs averted from preventing injuries and deaths. The strategies included in MV PICCS are:</p>
                        <div class="content-section small-font">
                            <ul>
                                <li>Primary enforcement of seat belt laws</li>
                                <li>High-visibility enforcement for seat belts and child restraint and booster laws</li>
                                <li>Increased fines for seat belt use</li>
                                <li>Sobriety checkpoints</li>
                                <li>Alcohol interlocks</li>
                                <li>Saturation patrols</li>
                                <li>Universal motorcycle helmet laws</li>
                                <li>Vehicle Impoundment</li>
                                <li>Automated red-light enforcement</li>
                                <li>Automated speed-camera enforcement</li>
                                <li>In person license renewal for adults aged 70 and older</li>
                                <li>Bicycle helmet laws for children</li>
                                <li>License plate impoundment</li>
                                <li>Limits on diversion and plea agreements</li>
                            </ul>
                        </div>
                        <div class="content-section center-align margin-bottom">
                            <a href="#">Strategies Glossary</a>
                        </div>
                    </div>
                </div><div id="page2" class="page">
                    <div class="page-header">
                        <h2>Motor Vehicle Injury Prevention<br/><span class="small-header-font">Strategies and Costs by State</span></h2>
                    </div>
                    <div class="page-content white">
                        <div class="content-section center-align white">
                            <p class="below-subheader">Select your state.</p>
                            <div class="select-wrapper">
                                <select data-ng-model="state" id="state-input" data-ng-change="setIntervention()" control-navigation>
                                    <option data-ng-repeat="(st, value) in data">{{st}}</option>
                                </select>
                                <div class="select-arrow lightblue darkblue-font" data-ng-click="openSelect($event)">^</div>
                            </div>
                        </div>
                        <div class="content-section lightblue padding">
                            Strategies being carried out in your state.
                        </div>
                        <div class="content-section">
                            <ul class="intervention-list">
                                <li class="intervention-list-item" data-ng-repeat="strategy in data[state]['Unimplemented Interventions (Recommended by MV PICCS)']" data-ng-if="strategy"><span>{{strategy}}</span></li>
                            </ul>
                            <span data-ng-if="data[state]['Notation: Some strategies not included because of cost - effectiveness.'] === 'Yes'">*Some MV PICCS strategies were not included because they are not cost-effective to implement in your state</span>
                        </div>
                        <div class="content-section next-page-prompt darkblue center-align small-font">
                            What strategies could be implemented in your state...
                        </div>
                    </div>
                </div><div id="page3" class="page">
                    <div class="page-header">
                        <h2>Motor Vehicle Injury Prevention<br/><span class="small-header-font">Strategies and Costs by State</span></h2>
                    </div>
                    <div class="page-content white">
                        <div class="content-section lightblue padding">
                            If the following strategies where implemented in your state...
                        </div>
                        <div class="content-section">
                            <ul class="intervention-list">
                                <li class="intervention-list-item" data-ng-repeat="strategy in data[state]['Unimplemented Interventions (Recommended by MV PICCS)']" data-ng-if="strategy"><span>{{strategy}}</span></li>
                            </ul>
                            <span data-ng-if="data[state]['Notation: Some strategies not included because of cost - effectiveness.'] === 'Yes'">*Some MV PICCS strategies were not included because they are not cost-effective to implement in your state</span>
                        </div>
                        <div class="content-section next-page-prompt darkblue center-align small-font">
                            See the costs and benefits of implementing these strategies...
                        </div>
                    </div>
                </div><div id="page4" class="page">
                    <div class="page-header">
                        <h2>If previous strategies were implemented in <span class="lightblue-font">{{state}}</span></h2><div id="state-icon" class="state-sprite {{state | classify}}"><span class="accessible-hide">{{state}}</span></div>
                    </div>
                    <div class="page-content white small-font">
                        <div class="content-section margin-bottom darkblue-font bold-font">
                            <div class="small-icon sprite injuries">
                                <span class="accessible-hide">Picture of an injured person</span>
                            </div>
                            <span>INJURIES <span>could be</span> PREVENTED</span><br/> 
                            <span class="large-font">{{data[state]['Total # of Injuries Reduced']| number:0}}</span>
                            <span class="percentage">Reduction in Injuries<br/><span class="percentage-figure sprite large-font">-{{data[state]['Percent Reduction in Injuries']}}<span class="small-font">%</span></span></span>
                        </div>
                        <div class="content-section margin-bottom darkblue-font bold-font">
                            <div class="small-icon sprite deaths">
                                <span class="accessible-hide">Picture of a beating heart</span>
                            </div>
                            <span>LIVES <span>could be</span> SAVED</span><br/> 
                            <span class="large-font">{{data[state]['Total # of Fatalities Reduced']| number: 0}}</span>
                            <span class="percentage">Reduction in Deaths<br/> <span class="percentage-figure sprite large-font">-{{data[state]['Percent Reduction in Fatalities']}}<span class="small-font">%</span></span></span>
                        </div>
                        <div class="content-section margin-bottom gray-font padding-left">
                            <strong>COST TO IMPLEMENT</strong><br/>
                            <span class="large-font darkblue-font">${{data[state]['Total Cost (w/Fines Excluded)'] | number:0}}</span><span class="small-font"> per year</span> <br/>
                            *If fines are used - approx. ${{data[state]['Total Cost'] < 0 ? 0 : data[state]['Total Cost']| number:0}}/year.<span data-ng-if="data[state]['Total Cost'] < 0"> See <a target="_blank" href="https://wwwn.cdc.gov/mvip" data-ng-click="trackLink('MV PICCS')" control-navigation>MV PICCS</a> for specific cost-related details.</span><br/><br/>
                            <strong>MONETARY BENEFIT</strong><br/>
                            <span class="small-font">FROM INJURIES PREVENTED & LIVES SAVED</span><br/>
                            <span class="large-font darkblue-font">${{data[state]['Total Benefit']| number:0}}</span><span class="small-font"> per year</span>
                            <div class="dollarsign sprite"><span class="accessible-hide">Dollar Sign</span></div>
                        </div>
                        <div class="content-section next-page-prompt darkblue center-align">
                            <p>See how your state compares nationwide.</p>
                        </div>
                    </div>
                </div><div id="page5" class="page">
                    <div class="page-header">
                        <h2>How Does Your State Compare?</h2>
                    </div>
                    <div class="page-content white center-align">
                        <p><strong>{{state| uppercase}}</strong></p>
                        <p class="below-subheader">Select a strategy and see where it's been implemented:</p>
                        <div class="select-wrapper">
                            <select data-ng-model="intervention" data-ng-change="drawMap()" control-navigation>
                                <option data-ng-repeat="strategy in strategies" value="{{strategy}}">{{strategy}}</option>
                            </select>
                            <div class="select-arrow lightblue darkblue-font" data-ng-click="openSelect($event)">^</div>
                        </div>
                        <div id="map">
                        </div>
                        <a href="#" data-ng-click="pageNumber = 1" class="small-font">Accessible Text Version</a>
                        <div id="maplegend" class="small-font">
                            <span id="implemented-sample" class="sample"></span><span>Implemented</span>
                            <span id="not-implemented-sample" class="sample"></span><span>Not Implemented</span>
                        </div>
                        <div class="content-section next-page-prompt darkblue small-font">
                            <p>See the costs and benefits of implementing this strategy on the next screen</p>
                        </div>
                    </div>
                </div><div id="page6" class="page">
                    <div class="page-header">
                        <h2>{{strategiesFull[intervention]}}<br/><span class="small-header-font">Implementation of this strategy in {{state === "District of Columbia" ? "D.C" : state}}...</span></h2><div id="intervention-icon" class="sprite {{intervention | classify}}"><span class="accessible-hide">{{intervention}}</span></div>
                    </div>
                    <div class="page-content white small-font">
                        <div class="content-section margin-bottom darkblue-font bold-font">
                            <div class="small-icon sprite injuries">
                                <span class="accessible-hide">Picture of an injured person</span>
                            </div>
                            <span>INJURIES <span>could be</span> PREVENTED</span><br/>
                            <span class="large-font">{{data[state][intervention + ': # of Injuries Reduced']| number:0}}</span>
                            <span class="percentage">Reduction in Injuries<br/><span class="percentage-figure sprite large-font sprite">-{{data[state][intervention + ': Percent Reduction in Injuries']}}<span class="small-font">%</span></span></span>
                        </div>
                        <div class="content-section margin-bottom darkblue-font bold-font">
                            <div class="small-icon sprite deaths">
                                <span class="accessible-hide">Picture of a beating heart</span>
                            </div>
                            <span>LIVES <span>could be</span> SAVED</span><br/>
                            <span class="large-font">{{data[state][intervention + ': # of Fatalities Reduced']| number:0}}</span>
                            <span class="percentage">Reduction in Deaths<br/><span class="percentage-figure sprite large-font sprite">-{{data[state][intervention + ': Percent Reduction in Fatalities']}}<span class="small-font">%</span></span></span>
                        </div>
                        <div class="content-section margin-bottom gray-font padding-left">
                            <strong>COST TO IMPLEMENT</strong><br/>
                            <span class="large-font darkblue-font">${{data[state][intervention + ' (Fines Excluded): Cost $/year'] | number:0}}</span><span class="small-font"> per year</span> <br/>
                            *If costs are offset by fines - approx. ${{data[state][intervention + ': Cost $/year'] < 0 ? 0 : data[state][intervention + ': Cost $/year']| number:0}}/year.<span data-ng-if="data[state][intervention + ': Cost $/year'] < 0"> See <a target="_blank" href="https://wwwn.cdc.gov/mvip" data-ng-click="trackLink('MV PICCS')" control-navigation>MV PICCS</a> for specific cost-related details.</span><br/><br/>
                            <strong>MONETARY BENEFIT</strong><br/>
                            <span class="small-font">FROM INJURIES PREVENTED & LIVES SAVED</span><br/>
                            <span class="large-font darkblue-font">${{data[state][intervention + ': Benefit $/year']| number:0}}</span><span class="small-font"> per year</span>
                            <div class="dollarsign sprite"><span class="accessible-hide">Dollar Sign</span></div>
                        </div>
                        <div class="content-section next-page-prompt darkblue mvpiccs-footnote">
                            <p>Visit <a target="_blank" href="https://wwwn.cdc.gov/mvip" data-ng-click="trackLink('MV PICCS')" control-navigation>wwwn.cdc.gov/mvip</a> for a list of recommended strategies to implement based on your state's budget.</p>
                        </div>
                    </div>
                </div><div id="page7" class="page">
                    <div class="page-header">
                        <h2>Additional Documents and Resources</h2>
                    </div>
                    <div class="page-content padding">
                        <p>CDC's MV PICCS and additional resources are available online at <a href="http://www.cdc.gov/motorvehiclesafety/calculator/">http://www.cdc.gov/motorvehiclesafety/calculator/</a></p>
                        <p><a href="#">User Guide</a>: Learn how to use MV PICCS through a step-by-step example.</p>
                        <p><a href="#">Intervention Fact Sheets</a>: Information on the history, use, effectiveness, measuring effectiveness, costs, time to implement, and other issues related to each of the 14 interventions.</p>
                        <p><a href="#">Project Report</a>: The technical documentation and methods used for the development of MV PICCS</p>
                        <p><a href="#">National Estimates</a>: RAND Corporation and Robert Wood Johnson Foundation Research Report and Research Briefs</p>
                    </div>
                </div>
            </div>
            <div id="embed-modal" class="modal" data-ng-show="modal === 'Embed'">
                <div class="modal-header darkblue">
                    <h2>Embed</h2>
                </div>
                <div class="modal-content white">
                    <p>Copy and paste the code below:</p>
                    <textarea id="embed-code" data-select-on-click>{{embedCode}}</textarea>
                </div>
                <div class="modal-footer">
                    <a href="#" class="back-button darkblue" data-ng-click="modal = false">Back</a>
                </div>
            </div>
            <div id="disclaimer-modal" class="modal" data-ng-show="modal === 'Disclaimer'">
                <div class="modal-header darkblue">
                    <h2>Disclaimer</h2>
                </div>
                <div class="modal-content white">
                    <div class="rid_5a363e44_131963" data-apiroot="//tools.cdc.gov/api" data-mediatype="html" data-mediaid="131963" data-stripscripts="true" data-stripanchors="false" data-stripimages="false" data-stripcomments="true" data-stripstyles="true" data-ids="mdisclaimer" data-xpath="" data-oe="utf-8" data-of="xhtml" data-ns="cdc" data-postprocess="" data-nw="true"></div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="back-button darkblue" data-ng-click="modal = false">Back</a>
                </div>
            </div>
            <div id="info-modal" class="modal" data-ng-show="modal === 'Info'">
                <div class="modal-header darkblue">
                    <h2>Info</h2>
                </div>
                <div class="modal-content white">
                    <div class="rid_7bc9b9c2_131962" data-apiroot="//tools.cdc.gov/api" data-mediatype="html" data-mediaid="131962" data-stripscripts="true" data-stripanchors="false" data-stripimages="false" data-stripcomments="true" data-stripstyles="true" data-ids="mprivacy" data-xpath="" data-oe="utf-8" data-of="xhtml" data-ns="cdc" data-postprocess="" data-nw="true"></div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="back-button darkblue" data-ng-click="modal = false">Back</a>
                </div>
            </div>
            <div id="footer" class="center-align">
                <div id="carousel-dots" class="page{{pageNumber}}">
                    <a href="#" class="dot" data-ng-click="pageNumber = 1"></a>
                    <a href="#" class="dot" data-ng-click="pageNumber = 2"></a>
                    <a href="#" class="dot" data-ng-click="pageNumber = 3"></a>
                    <a href="#" class="dot" data-ng-click="pageNumber = 4"></a>
                    <a href="#" class="dot" data-ng-click="pageNumber = 5"></a>
                    <a href="#" class="dot" data-ng-click="pageNumber = 6"></a>
                    <a href="#" class="dot" data-ng-click="pageNumber = 7"></a>
                </div>
                <div id="footer-buttons" class="padding">
                    <a class="darkblue" href="#" data-ng-click="changeModal('Embed')">Embed</a>
                    <a class="darkblue" href="#" data-ng-click="changeModal('Disclaimer')">Disclaimer</a>
                    <a class="darkblue" href="#" data-ng-click="changeModal('Info')">Info</a>
                </div>
                <a target="_blank" href="https://www.cdc.gov" data-ng-click="trackLink('CDC Logo')">
                    <img id="logo" src="/TemplatePackage/contrib/widgets/images/cdc_badge.png" alt="CDC Logo" />
                </a>
            </div>
        </div>

        <div id="loading-modal" data-ng-show="loading">
            <p><svg><circle cx="50" cy="50" r="45" fill="transparent" stroke="#000000" stroke-width="10px" /></svg></p>
        </div>
        <div id="error-modal" data-ng-show="error" data-ng-cloak>
            <p>Error loading data, please try again</p>
        </div>
        <script src="/TemplatePackage/contrib/libs/angular/1.4.3/angular.min.js"></script>
        <script src="/TemplatePackage/contrib/libs/angular/1.4.3/angular-route.min.js"></script>
        <script src="/TemplatePackage/contrib/libs/jquery/jquery-1.11.2.min.js"></script>
        <script src="/TemplatePackage/3.0/js/libs/jquery.mobile.custom.min.js"></script>
        <script src="/TemplatePackage/contrib/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/TemplatePackage/3.0/js/libs/d3/d3.min.js"></script>
        <script src="/TemplatePackage/3.0/js/libs/d3/topojson.v1.min.js"></script>
        <script src="/TemplatePackage/3.0/js/libs/d3/datamaps.all.min.js"></script>
        <script src='//tools.cdc.gov/api/embed/html/js/embed-2.0.2.js' ></script>
        <script src="/TemplatePackage/contrib/widgets/tp-widget-common.js"></script>
    </body>
</html>